
body {
    background-color: lavender;
    color: indigo;
    font-family: sans-serif;
    font-weight:lighter;
    margin: 0;
}
.header {
    padding: 30px;
    display: flex;
}
.header h1 {
    display: flex;
    font-size: 30px;
}
.header nav {
    padding-top: 15px;
    margin-left: 45%;
    flex-direction: row;
    font-size: 15px;
}
.header nav ul {
    list-style-type: none;
}
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    color: indigo;

}

.fancy {
    text-align: center;
    padding: .5em;
    border: .25em solid indigo;
    width: 1em;
    height: 1em;
    border-radius: 100%;
}

.fancy:hover {
    background-color: indigo;
    border-color: white;
    color:white;
}

.fancy:active {
    background-color: thistle;
    border-color: white;
    color: indigo;
}
.banner {
    background-image: url(../images/ocean-banner.png);
    width: 100%;
    height: 200px;
    background-size: cover;
}
.banner h2 {
    float: right;
    margin-top: 5%;
    margin-right: 5%;
    color: indigo;
    background-color: lavender;
}
.profile-pic {
    background-color: white;
    border: 5px solid lavender;
    border-radius: 100%;
    width: 150px;
    float: right;
}
.about-me {
    display: flex;
    margin-top: 25px;
    padding: 0;
}
.about-me h3 {
    margin-left: 5%;
    font-size: 40px;
    border-right: 3px solid indigo;
    height: 150px;
    padding: 0 50px 0 0
}
.about-me p {
    margin-left: 10%;
    margin-bottom: 10%;
    flex-basis: 50%;
    font-size: 15px;

}

  .worksection {
    display:flex;
    justify-content: flex-end;
    margin-left: 20%;
    margin-right: 20%;
}  

.worksection h3 {
    margin-left: 10%;
    margin-top: 5%;
    margin-right: 10%;
    font-size: 40px;
    border-right: 3px solid indigo;
    padding: 0px 100px 0 100px;
    height: 700px;
}

.mainimage {
    display: block;
    flex-grow: 2;
    position: relative;
}

.mainimage img{
    width: 750px;
    height: 350px;
    border: 5px solid indigo;
}
.workphotos {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

} 

.workphotos img {
    width: 367px;
    height: 150px;
    border: 5px solid indigo;
}
.mainimage img:hover, .workphotos img:hover {
    box-shadow: 5px 5px 4px 5px thistle;

}
.mainimage img:active, .workphotos img:active {
    border-color: white;
}
.small-photos-text {
    position: relative;
}
.photo-text {
    position: absolute;
    bottom: 8px;
    left: 16px;
    box-sizing: border-box;
    border: 2px solid thistle;
    background-color: lavender;
    color: indigo;
    font-family: sans-serif;
}

.photo-text:hover {
    background-color: thistle;
    color: white;
}

.contacts {
    display: flex;
    align-items: flex-start;
}
.contacts h3 {
    margin-left: 5%;
    font-size: 40px;
    border-right: 3px solid indigo;
    height: 150px;
    padding: 0 15px 0 0
}
.contacts aside {
    margin-top: 4%;
    margin-bottom: 10%;
    gap: 8px;
    flex-basis: 50%;
}
 @media screen and (max-width: 576px) {
    .header {
        flex-direction: column;
    }
    .header nav {
        margin-left: 0;
        margin-top: 10px;
        flex-direction: column;
        align-items: center;

    }
    .header nav ul {
        flex-direction: column;
    }
    .header nav ul li {
        flex-direction: column;
        padding: 5px;
        margin-bottom: 10px;

    }
    .banner h2 {
        text-align: center;


    }

    .profile-pic {
        text-align: center;
    }
    .about-me {
        flex-direction: column;
    }
    .about-me h3 {
        border-right: none;
        border-bottom: 5px solid indigo;
        padding: 0;
        margin-bottom: 10px;
        text-align: center;
        height: auto;
    }
    .about-me p {
        flex-direction: column;
        flex-wrap: wrap;
        flex-basis: 100%;
        margin-bottom: 10px;
    }
    .worksection {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
    }
    .worksection h3 {
        margin-left: 0;
        margin-right: 0;
        border-right: none;
        border-bottom: 5px solid indigo;
        padding: 0;
        text-align: center;
        height: auto;
        margin-bottom: 10px;
    }
    .mainimage {
        display: block;
        flex-grow: 2;
        position: relative;
    }

    .mainimage img {
        width: 100%;
        height: auto;
        border: none;
    }
    .workphotos img {
        width: 100%;
        height: auto;
        border: none;
    }
    .contacts {
        flex-direction: column;
        align-items: center;
    }
    .contacts h3 {
        border-right: none;
        border-bottom: 5px solid indigo;
        padding: 0;
        margin-bottom: 10px;
        text-align: center;
        height: auto;
    }

    .contacts aside {
        flex-direction: column;
        flex-wrap: wrap;
        flex-basis: 100%;
        margin-bottom: 10px;
    }
 }