
body {
    background-color: lavender;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    font-weight:lighter;
}
header {
    padding:0%;
    margin:auto;
    background-color: thistle;
}
img {
    width: 200px;
    height: 200px;
}